/* Tour page styles */

table {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: 0 auto;
}
table caption {
	visibility: hidden;
}

.h1{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 5px;
}
.pick1 {
	float: left;
}
.table-wrapper {
	width:100%;
	display: block;
}
.flex {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading-wrapper {
	display: flex;
	flex-direction: row;
}
td {
  font-weight: 300;
}

th,
td {
  padding: .25em 1em;
}